<md-card class="topspace">
    <!-- {{vm.query}} -->
    <md-toolbar>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'PROBLEMS.SEARCH' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <!-- <div class="md-subhead">{{'CATEGORIES.CATEGORY' | translate}}</div> -->
        <div layout-gt-xs="row" layout-xs="column">
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.LEVEL'|translate}}</label>
                <md-select ng-model="vm.selectedLevel" ng-change="vm.selectedCategory=undefined; vm.selectedSubCategory=undefined;">
                    <md-option ng-value="null" ng-if="vm.selectedLevel">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="level" ng-repeat="level in vm.levels">{{ level.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.CATEGORY'|translate}}</label>
                <md-select ng-model=" vm.selectedCategory" ng-change="vm.selectedSubCategory=undefined;" ng-disabled="!vm.selectedLevel">
                    <md-option ng-value="null" ng-if="vm.selectedCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="category" ng-repeat="category in vm.selectedLevel.categories">{{ category.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.SUBCAT'|translate}}</label>
                <md-select ng-model="vm.selectedSubCategory" ng-disabled="!vm.selectedCategory">
                    <md-option ng-value="null" ng-if="vm.selectedSubCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="subCategory" ng-repeat="subCategory in vm.selectedCategory.subCategories">{{ subCategory.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-xs="column" ng-if="toggled">
            <md-input-container flex class="md-block">
                <label>{{'PROBLEMS.MIN_DIFFICULTY' | translate}}</label>
                <input type="number" ng-model="vm.mindif" min="0" max="{{vm.query.maxdif || 5}}">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'PROBLEMS.MAX_DIFFICULTY' | translate}}</label>
                <input type="number" ng-model="vm.maxdif" min="{{vm.query.mindif || 0}}" max="5">
            </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-xs="column" ng-if="toggled">
            <div layout="row" flex>
                <md-autocomplete md-selected-item="vm.selectedUploader" flex md-search-text="uploaderSearchText" md-items="item in vm.getUploaders(uploaderSearchText)" md-item-text="item.name" md-min-length="0" md-floating-label="{{'PROBLEMS.UPLOADER'|translate}}" md-dropdown-items="vm.users.length">
                    <md-item-template>
                        <span md-highlight-text="uploaderSearchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        {{'PROBLEMS.NO_MATCH_UPLOADER' | translate:{text:uploaderSearchText} }}
                    </md-not-found>
                </md-autocomplete>
                <div flex="10" layout="row" layout-align="end center" ng-if="vm.selectedUploader" class="close-div"><i class=" fa fa-times" ng-click="vm.selectedUploader=undefined"></i></div>
            </div>
            <div layout="row" flex>
                <md-autocomplete md-selected-item="vm.selectedReviewer" flex md-search-text="reviewerSearchText" md-items="item in vm.getReviewers(reviewerSearchText)" md-item-text="item.name" md-min-length="0" md-floating-label="{{
                    'PROBLEMS.REVIEWER'|translate}}" md-dropdown-items="vm.reviewers.length">
                    <md-item-template>
                        <span md-highlight-text="reviewerSearchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        {{'PROBLEMS.NO_MATCH_REVIEWER' | translate:{text:reviewerSearchText} }}
                    </md-not-found>
                </md-autocomplete>
                <div flex="10" layout="row" layout-align="end center" ng-if="vm.selectedReviewer" class="close-div"><i class="fa fa-times" ng-click="vm.selectedReviewer=undefined"></i></div>
            </div>
        </div>
        <div layout-gt-xs="row" layout-xs="column" ng-if="vm.rev">
            <md-input-container class="md-block" flex>
                <md-checkbox class="md-primary" ng-model="vm.query.created">
                    {{'REVISIONS.CREATED' | translate}}
                </md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <md-checkbox class="md-primary" ng-model="vm.query.edited">
                    {{'REVISIONS.EDITED' | translate}}
                </md-checkbox>
            </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-xs="column">
            <md-input-container class="md-block" flex>
                <label> {{'PROBLEMS.ITEMS_PER_PAGE'|translate}}</label>
                <md-select ng-model="vm.inum" ng-change="vm.changeInum()">
                    <md-option ng-value="inum" ng-repeat="inum in vm.inums">{{ inum }}</md-option>
                </md-select>
            </md-input-container>
            <div layout-gt-xs="row" layout-xs="column" layout-align="end center" flex>
                <md-button class="md-primary" ng-click="toggled=!toggled">
                    {{'PROBLEMS.DETAILS' | translate}}
                    <i class="fa fa-plus" ng-if="!toggled"></i>
                    <i class="fa fa-minus" ng-if="toggled"></i>
                </md-button>
                <md-button class="md-primary md-raised" ng-click="vm.preSearch()" ng-disabled="vm.rev && !vm.query.edited && !vm.query.created">{{'PROBLEMS.SEARCH' | translate}}</md-button>
            </div>
        </div>


    </md-card-content>
    <!-- <md-toolbar class="md-hue-1">
        <md-card-content>
            <span class="md-headline">{{'PROBLEMS.RESULTS' | translate}}: {{ vm.total || 0 }}</span>
    </md-toolbar> -->
</md-card>