<div layout-gt-xs="row" layout-xs="column" class="topspace container" layout-align="start center">
    <span class="md-headline">{{'COMMON.MATCHES' | translate}}: {{vm.total || 0}}</span>
    <span flex></span>
    <span ng-if="vm.total>0">
        <md-button class="md-fab md-mini md-primary" ng-disabled="vm.query.pnum==1" ng-click="vm.nav(1)">
            <i class="fa fa-angle-double-left"></i>
        </md-button>
        <md-button class="md-fab md-mini md-primary" ng-repeat="p in vm.pageArray track by $index" ng-class="{'md-hue-1' : vm.query.pnum==p }" ng-click="vm.nav(p)">
            {{p}}
        </md-button>
        <md-button class="md-fab md-mini md-primary" ng-disabled="vm.query.pnum==vm.maxpnum" ng-click="vm.nav(vm.maxpnum)">
            <i class="fa fa-angle-double-right"></i>
        </md-button>
    </span>
</div>