<md-card class="topspace">
    <md-card-content>
        <md-input-container class="md-block">
            <label>{{'UPLOAD.COMMENT_FOR_REVISION' | translate}}</label>
            <textarea autoheight spellcheck="false" type="text" ng-model="vm.comment" ng-readonly="!vm.editable"></textarea>
        </md-input-container>
    </md-card-content>
</md-card>