<div class="md-display-1">
    <span>{{'UPLOAD.UPLOAD_PROBLEM' | translate}}</span>
    <span> : {{'UPLOAD.MULTIPLE_MODE' | translate}}</span>
</div>

<div>
    <md-button class="md-primary" ui-sref="root.upload.single"> {{'UPLOAD.SWITCH_SINGLE' | translate}}</md-button>
</div>
<form name="form" novalidate>
    <md-card class="topspace">
        <md-card-content>
            <div layout="row">
                <md-button class="md-primary md-raised" type="button" ng-click="vm.toggled=!vm.toggled">
                    {{'UPLOAD.USE_FILES' | translate}}
                    <i ng-if="!vm.toggled" class="fa fa-plus"></i>
                    <i ng-if="vm.toggled" class="fa fa-minus"></i>
                </md-button>
                <md-button class="md-primary md-raised" type="button" ng-click="vm.addProblem()">{{'UPLOAD.ADD_MANUALLY' | translate}}</md-button>
                <span flex></span>
                <md-button class="md-primary md-raised" type="button" ng-click="vm.saveAll(ev)" ng-disabled="!vm.problems.length>0 || form.$invalid">{{'UPLOAD.SAVE_ALL' | translate}}</md-button>
            </div>
            <div ng-if="vm.toggled">
                <label class="md-button md-primary">
                                {{'COMMON.BROWSE' | translate}}
                                <input type="file" multiple file-change handler="vm.fileSelect(files)" style="display: none;">
                            </label>
                <div class="topspace">
                    <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
                        <div flex class="flexContainer">
                            <center class="md-subhead">
                                {{'UPLOAD.PREVIEW' | translate}}
                            </center>
                            <md-tabs ng-if="vm.files.length>0" md-selected="selectedIndex" md-autoselect md-swipe-content md-dynamic-height>
                                <md-tab ng-repeat="file in vm.files" label="{{file.name}}">
                                    <md-tab-body>
                                        <div>
                                            <pre nag-prism source="{{file.text}}" class="language-latex line-numbers preview"></pre>
                                        </div>
                                        <center>
                                            <md-button class="md-accent" ng-click="vm.deleteFile($index)">{{'COMMON.DELETE' | translate}}</md-button>
                                        </center>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                            <pre ng-if="!vm.files.length>0" nag-prism source="{{'UPLOAD.NO_FILE' | translate}}" class="language-latex line-numbers"></pre>
                        </div>
                        <div flex class="flexContainer">
                            <center class="md-subhead">
                                {{'UPLOAD.PARSING_OPTIONS' | translate}}
                            </center>
                            <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
                                <div flex class="flexContainer">
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.TEXT_ENV' | translate}}</label>
                                        <input type="text" ng-model="vm.parseOptions.text" class="codeInput">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.SHORT_TEXT_ENV' | translate}}</label>
                                        <input type="text" ng-model="vm.parseOptions.shortText" class="codeInput">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.SOLUTION_ENV' | translate}}</label>
                                        <input type="text" ng-model="vm.parseOptions.solution" class="codeInput">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.HINT_ENV' | translate}}</label>
                                        <input type="text" ng-model="vm.parseOptions.hint" class="codeInput">
                                    </md-input-container>
                                </div>
                                <div flex class="flexContainer">
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.ANSWER_ENV' | translate}}</label>
                                        <input type="text" ng-model="vm.parseOptions.answer" class="codeInput">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.TAG_LINE' | translate}}</label>
                                        <input type="number" ng-model="vm.parseOptions.tagLine" min=1>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>  {{'UPLOAD.DIFFICULTY_LINE' | translate}}</label>
                                        <input type="number" ng-model="vm.parseOptions.difficultyLine" min="1">
                                    </md-input-container>
                                    <div layout="row" layout-align="center">
                                        <md-button class="md-primary md-raised" ng-click="vm.toggled=false;vm.parse()" ng-disabled="!vm.files">{{'UPLOAD.EXTRACT' | translate}}</md-button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-tabs ng-if="vm.problems.length>0" md-selected="selectedIndex2" md-autoselect md-swipe-content md-dynamic-height>
        <md-tab ng-repeat="problem in vm.problems" ng-init="problemIndex = $index">
            <md-tab-label>
                <span ng-class="{customError: form['text'+$index].$invalid}">{{'UPLOAD.PROBLEM_INDEX' | translate: {index : $index + 1 } }}</span>
            </md-tab-label>
            <md-tab-body>
                <category-selector-component problem="problem" levels="vm.levels" scats="vm.subCategories"></category-selector-component>
                <problem-detail-viewer-component problem="problem"></problem-detail-viewer-component>
                <problem-solutions-component problem="problem"></problem-solutions-component>



                <div class="top-one-cm">
                    <md-button class="md-accent md-raised" ng-click="vm.deleteProblem($index)">{{'COMMON.DELETE' | translate}}</md-button>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</form>