<div class="md-display-1">
    <span ng-if="!vm.editMode">{{'UPLOAD.UPLOAD_PROBLEM' | translate}}</span>
    <span ng-if="vm.editMode">{{'UPLOAD.EDIT_PROBLEM' | translate}}</span>
    <span ng-if="!vm.editMode" permission permission-only="'editor'"> : {{'UPLOAD.SINGLE_MODE' | translate}}</span>
</div>


<div permission permission-only="'editor'" ng-if="!vm.editMode">
    <md-button class="md-primary" ui-sref="root.upload.multiple"> {{'UPLOAD.SWITCH_MULTIPLE' | translate}}</md-button>
</div>

<form name="form" novalidate>
    <md-card class="topspace">
        <md-card-content>
            <div>
                <md-button class="md-primary md-raised" type="button" ng-click="vm.toggled=!vm.toggled">
                    {{'UPLOAD.USE_FILE' | translate}}
                    <i ng-if="!vm.toggled" class="fa fa-plus"></i>
                    <i ng-if="vm.toggled" class="fa fa-minus"></i>
                </md-button>
            </div>
            <div ng-if="vm.toggled">
                <div>
                    <label class="md-button md-primary">{{'COMMON.BROWSE' | translate}}<i class="fa fa-folder-open"></i><input type="file" file-change handler="vm.fileSelect(files)" style="display: none;"></label>
                </div>
                <div layout-gt-xs="row" layout-xs="column">
                    <div flex class="container" layout="column">
                        <pre ng-if="!vm.file" nag-prism source="{{'UPLOAD.NO_FILE' | translate}}" class="language-latex line-numbers preview"></pre>
                        <pre ng-if="vm.file" nag-prism source="{{vm.file.text}}" class="language-latex line-numbers preview"></pre>
                        <center>
                            <label>{{vm.file.name}}</label>
                        </center>

                    </div>
                    <div flex class="container">
                        <center class="md-subhead">
                            {{'UPLOAD.PARSING_OPTIONS' | translate}}
                        </center>
                        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
                            <div flex class="flexContainer">
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.TEXT_ENV' | translate}}</label>
                                    <input type="text" ng-model="vm.parseOptions.text" class="codeInput">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.SHORT_TEXT_ENV' | translate}}</label>
                                    <input type="text" ng-model="vm.parseOptions.shortText" class="codeInput">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.SOLUTION_ENV' | translate}}</label>
                                    <input type="text" ng-model="vm.parseOptions.solution" class="codeInput">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.HINT_ENV' | translate}}</label>
                                    <input type="text" ng-model="vm.parseOptions.hint" class="codeInput">
                                </md-input-container>
                            </div>
                            <div flex class="flexContainer">
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.ANSWER_ENV' | translate}}</label>
                                    <input type="text" ng-model="vm.parseOptions.answer" class="codeInput">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.TAG_LINE' | translate}}</label>
                                    <input type="number" ng-model="vm.parseOptions.tagLine" min=1>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>  {{'UPLOAD.DIFFICULTY_LINE' | translate}}</label>
                                    <input type="number" ng-model="vm.parseOptions.difficultyLine" min="1">
                                </md-input-container>
                                <div layout="row" layout-align="center">
                                    <md-button class="md-primary" ng-click="vm.toggled=false;vm.parse()" ng-disabled="!vm.file">{{'UPLOAD.EXTRACT' | translate}}</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </md-card-content>
    </md-card>
    <category-selector-component problem="vm.problem" levels="vm.levels" scats="vm.subCategories"></category-selector-component>
    <problem-detail-viewer-component problem="vm.problem"></problem-detail-viewer-component>
    <problem-solutions-component problem="vm.problem"></problem-solutions-component>
    <div class="topspace" permission permission-only="'user'" permission-except="'editor'">
        <problem-comment-component comment="vm.comment" editable="true"></problem-comment-component>
    </div>
    <div class="topspace">
        <md-button permission permission-only="'user'" permission-except="'editor'" type="button" class="md-primary md-raised" ng-click="vm.saveProblemNOREV($event)" ng-disabled="!form.$valid">{{'UPLOAD.SUBMIT_FOR_REVISION' | translate}}</md-button>
        <md-button permission permission-only="'editor'" type="button" class="md-primary md-raised" ng-click="vm.createProblemREV()" ng-disabled="!form.$valid" ng-if="!vm.editMode">{{'COMMON.SAVE' | translate}}</md-button>
        <md-button permission permission-only="'editor'" type="button" class="md-primary md-raised" ng-click="vm.updateProblemREV()" ng-disabled="!form.$valid" ng-if="vm.editMode">{{'COMMON.SAVE' | translate}}</md-button>
    </div>
</form>