<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'UPLOAD.SOLUTIONS' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div ng-if="!vm.problem.solutions.length>0">
            {{'UPLOAD.NO_SOLUTIONS' | translate}}
        </div>
        <div ng-repeat="solution in vm.problem.solutions">
            <div class="md-subhead">{{'UPLOAD.SOLUTION_INDEX' | translate:{index: $index + 1} }}</div>
            <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
                <div flex class="flexContainer">
                    <md-input-container class="md-block">
                        <label>  {{'UPLOAD.TEXT_OF_SOLUTION' | translate}}</label>
                        <textarea autoheight spellcheck="false" type="text" ng-model="solution.text"></textarea>
                    </md-input-container>
                </div>
                <div flex class="flexContainer">
                    <tex bind="solution.text" ng-if="solution.text"></tex>
                </div>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-accent" type="button" ng-click="vm.deleteSolution($index)">{{'COMMON.DELETE' | translate}}</md-button>
            </div>
        </div>
        <div>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary" type="button" ng-click="vm.addSolution()"> {{'UPLOAD.ADD_SOLUTION' | translate}} </md-button>
    </md-card-actions>
</md-card>