<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'UPLOAD.PROBLEM_DETAILS' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex class="flexContainer">
                <md-input-container class="md-block">
                    <label>  {{'UPLOAD.TEXT_OF_PROBLEM' | translate}}</label>
                    <textarea autoheight spellcheck="false" ng-model="vm.problem.text" required name="text"></textarea>
                    <div ng-messages="form['text'].$error">
                        <div ng-message="required">{{'PROBLEMS.ERRORS.TEXT_REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div flex class="flexContainer">
                <tex bind="vm.problem.text" ng-if="vm.problem.text"></tex>
                <label ng-if="!vm.problem.text">{{'UPLOAD.NO_TEXT' | translate}}</label>
            </div>
        </div>

        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex class="flexContainer">
                <md-input-container class="md-block">
                    <label>  {{'UPLOAD.SHORT_TEXT_OF_PROBLEM' | translate}}</label>
                    <textarea autoheight spellcheck="false" type="text" ng-model="vm.problem.shortText"></textarea>
                </md-input-container>
            </div>
            <div flex class="flexContainer">
                <tex bind="vm.problem.shortText" ng-if="vm.problem.shortText"></tex>
                <label ng-if="!vm.problem.shortText">{{'UPLOAD.NO_SHORT_TEXT' | translate}}</label>
            </div>
        </div>

        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex class="flexContainer">
                <md-input-container class="md-block">
                    <label>  {{'UPLOAD.HINT' | translate}}</label>
                    <textarea autoheight spellcheck="false" type="text" ng-model="vm.problem.hint"></textarea>
                </md-input-container>
            </div>
            <div flex class="flexContainer">
                <tex bind="vm.problem.hint" ng-if="vm.problem.hint"></tex>
                <label ng-if="!vm.problem.hint">{{'UPLOAD.NO_HINT' | translate}}</label>
            </div>
        </div>

        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex class="flexContainer">
                <md-input-container class="md-block">
                    <label>  {{'UPLOAD.ANSWER' | translate}}</label>
                    <textarea autoheight spellcheck="false" type="text" ng-model="vm.problem.answer"></textarea>
                </md-input-container>
            </div>
            <div flex class="flexContainer">
                <tex bind="vm.problem.answer" ng-if="vm.problem.answer"></tex>
                <label ng-if="!vm.problem.answer">{{'UPLOAD.NO_ANSWER' | translate}}</label>
            </div>
        </div>
        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex class="flexContainer">
                <md-input-container class="md-block">
                    <label>  {{'UPLOAD.DIFFICULTY' | translate}}</label>
                    <md-select ng-model="vm.problem.difficulty">
                        <md-option ng-value="x" ng-repeat="x in [1,2,3,4,5]">
                            {{x}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex class="flexContainer">
                <ng-rate-it ng-model="vm.problem.difficulty" star-width="32" star-height="32" class="bigstar" read-only="true" resetable="false"></ng-rate-it>
            </div>
        </div>
    </md-card-content>
</md-card>