<md-dialog class="largeDialog">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>{{'PROFILE.CHANGE_PASSWORD' | translate}}</h2>
        </div>
    </md-toolbar>
    <form name="passwordForm" novalidate>
        <md-dialog-content layout="row" flex>
            <div layout="column" flex class="container">
                <div flex>
                    <md-input-container class="md-block">
                        <label>{{'PROFILE.OLD_PASS' | translate}} </label>
                        <input name="oldpass" type="password" ng-model="vm.data.oldpassword" required>
                        <div ng-messages="passwordForm['oldpass'].$error">
                            <div ng-message="required">{{'COMMON.ERRORS.REQUIRED' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'PROFILE.NEW_PASS' | translate}} </label>
                        <input name="pass" type="password" ng-model="vm.data.password" required>
                        <div ng-messages="passwordForm['pass'].$error">
                            <div ng-message="required">{{'COMMON.ERRORS.REQUIRED' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'PROFILE.NEW_PASS_AGAIN' | translate}} </label>
                        <input name="passAgain" class="form-control" type="password" required ui-validate="{different: '$value==vm.data.password'}" ui-validate-watch="'vm.data.password'" ng-model="vm.passAgain">
                        <div ng-messages="passwordForm['passAgain'].$error">
                            <div ng-message="required">{{'COMMON.ERRORS.REQUIRED' | translate}}</div>
                            <div ng-message="different">{{'PROFILE.DIFFERENT' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div ng-messages="vm.messages" role="alert" class="customError">
                        <div ng-message="incorrect">{{'PROFILE.INCORRECT' | translate}}</div>
                        <div ng-message="internal">{{'COMMON.ERRORS.INTERNAL' | translate}}</div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <md-button class="md-secondary" ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
        <md-button class="md-primary" ng-click="vm.ok()" ng-disabled="passwordForm.$invalid">{{'PROFILE.CHANGE' | translate}}</md-button>
    </md-dialog-actions>
</md-dialog>