<div layout="row" ng-cloak>
    <navbar-component layout="row">
    </navbar-component>
    <div layout-fill>
        <div>
            <md-toolbar layout-md="row" layout-sm="row" layout-xs="row">
                <md-button ng-click="toggleLeft()" hide-gt-md><i class="fa fa-2x fa-bars"></i></md-button>
                <center>
                    <h3>{{'ROOT.PROBLEMS_COLLECTION' | translate }}</h3>
                </center>
            </md-toolbar>
        </div>
        <div class="container pad-half-page" ui-view ng-cloak></div>
    </div>
</div>