<div class="md-display-1">{{'PROBLEMS.PROBLEMS' | translate}}</div>

<searchbar-component levels="vm.levels" search="vm.search()" query="vm.filterQuery" inums="vm.inums" users="vm.users"></searchbar-component>
<paginator-component total="vm.problems.total" query="vm.paginateQuery" navigate="vm.navigate()"></paginator-component>
<md-card class="topspace" ng-repeat="problem in vm.problems.data">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <div class="md-headline">{{'PROBLEMS.PROBLEM_INDEX'|translate:{index: $index+1+(vm.paginateQuery.pnum-1)*vm.paginateQuery.inum} }}</div>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content flex>
        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex-gt-sm="70" class="flexContainer">
                <div layout-fill>
                    <tex layout-fill>{{problem.text}}</tex>
                </div>
            </div>
            <div flex-gt-sm="30" class="flexContainer" layout="column">
                <div>
                    <span class="chiplabel">{{'CATEGORIES.CATEGORIES' | translate}}:</span>
                    <span ng-repeat="scat in problem.scats">
                    <strong>
                    <span class="nowrap">[
                    <a class="md-primary catlink" ui-sref="root.categories.list">{{scat.category.level.shortName}}</a> :       
                    <a class="md-primary catlink" ui-sref="root.categories.detail({id: scat.category._id})">{{scat.category.shortName}}</a> :
                    <a class="md-primary catlink" ui-sref="root.categories.subCategory({id: scat._id})">{{scat.shortName}}</a> ]
                    </span>
                    </strong>
                    </span>
                </div>
                <div>
                    <div class="chiplabel">{{'PROBLEMS.SOLUTION_COUNT' | translate}}: {{problem.solutions.length || 0}}</div>
                </div>
                <div layout="row" layout-xs="column">
                    <span class="chiplabel">
                            {{'PROBLEMS.DIFFICULTY'| translate}}:
                        </span>
                    <span class="chiplabel">
                            <ng-rate-it ng-model="problem.difficulty" min="0" max="5" step="1" resetable="false" read-only="true"></ng-rate-it>
                        </span>
                </div>
                <div>
                    <span class="chiplabel">{{'PROBLEMS.LAST_UPLOADER' | translate}} : </span>
                    <strong>
                    <a class="md-primary catlink" ui-sref="root.profile({id:problem.lastuploader._id})">{{problem.lastuploader.name}}</a>
                    </strong>
                </div>
            </div>
        </div>
        </div>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="end center" ng-it>
        <md-button class="md-primary" ng-click="vm.view(problem)">{{'COMMON.DETAILS' | translate}}</md-button>
        <md-button permission permission-only="'user'" class="md-warn" ng-click="vm.edit(problem)">{{'COMMON.EDIT' | translate}}</md-button>
        <md-button permission permission-only="'editor'" class="md-accent" ng-click="vm.del(problem,$event)">{{'COMMON.DELETE' | translate}}</md-button>
    </md-card-actions>
</md-card>

<paginator-component total="vm.problems.total" query="vm.paginateQuery" navigate="vm.navigate()" ng-if="vm.problems.total"></paginator-component>