<span class="md-display-1">{{'PROBLEMS.PROBLEMS' | translate}}</span>
<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'PROBLEMS.PROBLEM' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div class="md-subhead">{{'PROBLEMS.TEXT_OF_PROBLEM' | translate}}</div>
        <tex>{{vm.problem.text}}</tex>
        <div class="md-subhead topspace">{{'PROBLEMS.SHORT_TEXT_OF_PROBLEM' | translate}}</div>
        <tex>{{vm.problem.shortText}}</tex>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="start center" class="container">
        <md-button class="md-primary" ng-if="vm.problem.hint" ng-click="vm.showHint=!vm.showHint; vm.showAnswer=false; vm.showSolutions=false;">
            {{'PROBLEMS.HINT' | translate}}
            <i class="fa fa-plus" ng-if='!vm.showHint'></i>
            <i class="fa fa-minus" ng-if='vm.showHint'></i>
        </md-button>
        <md-button class="md-primary" ng-if="vm.problem.solutions.length>0" ng-click="vm.showSolutions=!vm.showSolutions; vm.showHint=false; vm.showAnswer=false;">
            {{'PROBLEMS.SHOW_SOLUTIONS' | translate}}
            <i class="fa fa-plus" ng-if='!vm.showSolutions'></i>
            <i class="fa fa-minus" ng-if='vm.showSolutions'></i>
        </md-button>
        <md-button class="md-primary" ng-if="vm.problem.answer" ng-click="vm.showAnswer=!vm.showAnswer; vm.showHint=false; vm.showSolutions=false;">
            {{'PROBLEMS.SHOW_ANSWER' | translate}}
            <i class="fa fa-plus" ng-if='!vm.showAnswer'></i>
            <i class="fa fa-minus" ng-if='vm.showAnswer'></i>
        </md-button>
    </md-card-actions>
    <md-card-content>
        <div ng-if="vm.showHint">
            <div class="md-subhead">{{'PROBLEMS.HINT' | translate}}</div>
            <tex>{{vm.problem.hint}}</tex>
        </div>

        <div ng-if="vm.showSolutions">
            <div ng-repeat="sol in vm.problem.solutions">
                <div class="md-subhead">{{'PROBLEMS.SOLUTION_INDEX' | translate:{index: $index+1} }}</div>
                <tex>{{sol.text}}</tex>
            </div>
        </div>
        <div ng-if="vm.showAnswer">
            <div class="md-subhead">{{'PROBLEMS.ANSWER' | translate}}</div>
            <tex>{{vm.problem.answer}}</tex>
        </div>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="end center">
        <md-button class="md-warn" ng-click="vm.edit()">{{'COMMON.EDIT' | translate}}</md-button>
        <md-button class="md-accent" ng-click="vm.del()">{{'COMMON.DELETE' | translate}}</md-button>
    </md-card-actions>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="vm.back()">{{'PROBLEMS.BACK_TO_PROBLEMS' | translate}}</md-button>
    </md-card-actions>
</md-card>