<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'UPLOAD.HISTORY' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="h in vm.history">
                <div class="md-list-item-text">
                    <h3>{{'PROBLEMS.UPLOADER' | translate}} : {{h.uploader.name}} ({{h.uploader.email}})</h3>
                    <p>{{'PROBLEMS.REVIEWER' | translate}} : {{h.reviewer.name}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <h3>{{'REVISIONS.LAST_UPLOADER' | translate}} : {{vm.lastuploader.name}} ({{vm.lastuploader.email}})</h3>
            </md-list-item>
        </md-list>

    </md-card-content>
</md-card>