<span class="md-display-1">{{'USERS.USERS' | translate}}</span>
<div class="top-one-cm bottom-one-cm input-group col-md-6">
    <md-input-container md-no-float class="md-block">
        <input type="search" ng-model="vm.searchString" translate translate-attr-placeholder="USERS.SEARCH">
    </md-input-container>
</div>

<md-list>

    <md-list-item class="md-3-line" ng-repeat="user in vm.users | filter: vm.userFilter ">
        <div class="md-list-item-text ">
            <h3>{{user.name}}</h3>
            <h4>{{user.email}}</h4>
        </div>

        <md-select ng-model="user.role" class="md-secondary roleSelect" ng-change="vm.changed(user)">
            <md-option ng-repeat="role in vm.roles" ng-value="role">{{role}}</md-option>
        </md-select>
        <md-button class="md-warn md-secondary" ng-click="vm.deleteUser($vent,user)">{{'COMMON.DELETE' | translate}}</md-button>

        <md-divider ng-if="!$last "></md-divider>
    </md-list-item>
</md-list>