<div class="md-display-1">
    {{'PROFILE.PROFILE' | translate}}</div>
<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <div class="md-display-1 "><strong>{{vm.user.name}}</strong> ({{vm.user.role}})</div>
                <div class="md-subhead">{{vm.user.email}}</div>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div layout-xs="column" layout-gt-xs="row">
            <div ng-if="vm.user.uploadCount>0" flex class="flexContainer">
                <div class="md-headline">{{'PROFILE.UPLOAD_COUNT' | translate}} : {{vm.user.uploadCount}}</div>
                <div ng-if="vm.uploadScats.length>0">
                    <label>{{'CATEGORIES.CATEGORIES' | translate}}</label>
                    <md-list class="md-dense">
                        <md-divider></md-divider>
                        <md-list-item ng-repeat="scat in vm.uploadScats track by $index" class="md-3-line" ui-sref="root.categories.subCategory({id:scat._id})">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{scat.category.level.name}}</h3>
                                <h4>{{scat.category.name}}</h4>
                                <p>{{scat.name}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <div ng-if="vm.user.reviewCount>0" flex class="flexContainer">
                <div class="md-headline">{{'PROFILE.REVIEW_COUNT' | translate}} : {{vm.user.reviewCount}}</div>
                <div ng-if="vm.reviewScats.length>0">
                    <label>{{'CATEGORIES.CATEGORIES' | translate}}</label>
                    <md-list class="md-dense">
                        <md-divider></md-divider>
                        <md-list-item ng-repeat="scat in vm.reviewScats track by $index" class="md-3-line" ui-sref="root.categories.subCategory({id:scat._id})">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{scat.category.level.name}}</h3>
                                <h4>{{scat.category.name}}</h4>
                                <p>{{scat.name}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
<div class="topspace" ng-if="vm.isCurrentUser()">
    <md-button class="md-primary md-raised" ng-click="vm.changePassword()">{{'PROFILE.CHANGE_PASSWORD' | translate}}</md-button>
</div>