<form name="worksheetForm" novalidate class="pad-half-page">
    <div class="md-display-1" ng-if="!vm.isEdit">{{'WORKSHEET.NEW_WORKSHEET' | translate}}</div>
    <div class="md-display-1" ng-if="vm.isEdit">{{'WORKSHEET.EDIT_WORKSHEET' | translate}}</div>
    <md-card class="topspace">
        <md-toolbar class="md-primary">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'WORKSHEET.OPTIONS' |translate}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-toolbar>
        <md-card-content>
            <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
                <div flex class="flexContainer">
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.NAME'|translate}}</label>
                        <input type="text" name="name" ng-model="vm.worksheet.name" required md-maxlength="20">
                        <div ng-messages="worksheetForm['name'].$error">
                            <div ng-message="required">{{'WORKSHEET.ERRORS.NAME_REQUIRED' | translate}}</div>
                            <div ng-message="md-maxlength">{{'WORKSHEET.ERRORS.NAME_LONG' | translate}}</div>
                            <div ng-message="exists">{{'WORKSHEET.ERRORS.NAME_EXISTS' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.DESCRIPTION'|translate}}</label>
                        <input type="text" name="description" ng-model="vm.worksheet.description" md-maxlength="200" rows="3">
                        <div ng-messages="worksheetForm['description'].$error">
                            <div ng-message="md-maxlength">{{'WORKSHEET.ERRORS.DESCRIPTION_LONG' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>

                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.TITLE' | translate}}</label>
                        <input type="text" name="title" ng-model="vm.worksheet.title">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.AUTHOR' | translate}}</label>
                        <input type="text" name="title" ng-model="vm.worksheet.author">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.DATE' | translate}}</label>
                        <input type="text" name="title" ng-model="vm.worksheet.date">
                    </md-input-container>
                </div>
                <div flex class="flexContainer">
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.TEMPLATE'|translate}}</label>
                        <textarea ng-model="vm.worksheet.templateText" class="limitedTextArea" required></textarea>
                    </md-input-container>
                    <div layout="row" flex>
                        <span flex></span>
                        <md-button ng-click="vm.saveTemplate()" ng-disabled="vm.worksheet.templateText==vm.selectedTemplate.content" class="md-primary">{{'WORKSHEET.SAVE_TEMPLATE' | translate }}</md-button>
                    </div>
                    <md-input-container class="md-block" flex>
                        <label>{{'WORKSHEET.LOAD_TEMPLATE'|translate}}</label>
                        <md-select name="template" ng-model="vm.selectedTemplate" ng-change="vm.templateChanged()">
                            <md-option ng-value="template" ng-repeat="template in vm.templates">{{ template.name }}</md-option>
                        </md-select>
                        <div ng-messages="worksheetForm['description'].$error">
                            <div ng-message="md-maxlength">{{'WORKSHEET.ERRORS.DESCRIPTION_LONG' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout-gt-xs="row" layout-xs="column" class="container" layout-align="end center">
            <md-button class="md-primary" ng-click="vm.preview()" ng-disabled="worksheetForm.$invalid">{{'WORKSHEET.PREVIEW_TEX' | translate}}</md-button>
            <md-button class="md-primary" ng-click="vm.render()" ng-disabled="worksheetForm.$invalid">{{'WORKSHEET.RENDER' | translate}}</md-button>
        </md-card-actions>
        <md-card-actions layout-gt-xs="row" layout-xs="column" class="container">
            <md-button class="md-warn" ui-sref="root.worksheet.list">{{'COMMON.CANCEL' | translate}}</md-button>
            <span flex></span>
            <md-button class="md-accent md-raised" ng-click="vm.del()" ng-if="vm.isEdit">{{'WORKSHEET.DELETE' | translate}}</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()" ng-disabled="worksheetForm.$invalid">{{'WORKSHEET.SAVE' | translate}}</md-button>
        </md-card-actions>
    </md-card>

    <div class="topspace">
        <md-button class="md-primary md-raised" ng-click="vm.addVariant()" ng-disabled="worksheetForm.$invalid">{{'WORKSHEET.ADD_VARIANT' | translate}}</md-button>
    </div>
    <md-card class="topspace" ng-if="vm.worksheet.variants.length>0">
        <md-card-content>
            <md-tabs md-selected="vm.selectedVariantIndex" md-dynamic-height md-borded-bottom md-autoselect md-swipe-content>
                <md-tab ng-repeat="variant in vm.worksheet.variants" label="{{variant.name || 'WORKSHEET.VARIANT_INDEX'| translate:{index:$index+1} }}">
                    <div layout-gt-xs="row" layout-xs="column">
                        <md-input-container class="md-block" flex>
                            <label>{{'WORKSHEET.NAME'|translate}}</label>
                            <input type="text" ng-model="variant.name">
                        </md-input-container>
                        <div layout="row" layout-align="end center" flex>
                            <md-button class="md-accent md-raised" ng-click="vm.delVariant(selectedVariantIndex)">{{'WORKSHEET.DELETE_VARIANT' | translate}}</md-button>
                        </div>
                    </div>
                    <div layout-gt-xs="row" layout-xs="column">
                        <div flex class=" flexContainer">
                            <md-input-container class="md-block" flex>
                                <label>{{'WORKSHEET.PRETEXT'|translate}}</label>
                                <textarea ng-model="variant.pretext"></textarea>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button ng-click="vm.addDescription($event,$index,true)">{{'WORKSHEET.ADD_DESCRIPTION' | translate}}</md-button>
                            </div>
                        </div>
                        <div flex class=" flexContainer">
                            <md-input-container class="md-block" flex>
                                <label>{{'WORKSHEET.POSTTEXT'|translate}}</label>
                                <textarea ng-model="variant.posttext"></textarea>
                            </md-input-container>
                            <div layout="row" layout-align="end center">

                                <md-button ng-click="vm.addDescription($event,$index,false)">{{'WORKSHEET.ADD_DESCRIPTION' | translate}}</md-button>
                            </div>
                        </div>
                    </div>

                    <md-toolbar class="topspace md-hue-1">
                        <md-card-title>
                            {{'PROBLEMS.PROBLEMS' | translate}}
                        </md-card-title>
                    </md-toolbar>
                    <div class="container">
                        <div ng-if="!variant.problems.length>0">
                            {{'WORKSHEET.NO_PROBLEMS' | translate}}
                        </div>
                        <div ng-if="variant.problems" class="topspace">
                            <div ng-repeat="problem in variant.problems track by $index" class="topspace">
                                <div layout="row" flex>
                                    <span class="md-headline" flex>
                                            {{'PROBLEMS.PROBLEM_INDEX' | translate:{index: $index+1} }}
                                    </span>
                                    <md-button class="md-accent" ng-click="vm.deleteProblem($index)">{{'COMMON.DELETE' | translate}}</md-button>
                                </div>
                                <tex bind="problem.text" span></tex>
                            </div>
                        </div>
                    </div>
                    <div layout-gt-xs="row" layout-xs="column" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="vm.toggled=!vm.toggled" ng-if="vm.worksheet.variants.length>0">
                            <i class="fa fa-plus" ng-if="!vm.toggled"></i>
                            <i class="fa fa-minus" ng-if="vm.toggled"></i> {{'WORKSHEET.ADD_PROBLEMS' | translate}}
                        </md-button>
                    </div>
        </md-card-content>
    </md-card>
    <div class="topspace" ng-if="vm.toggled && vm.worksheet.variants.length>0">
        <searchbar-component levels="vm.levels" search="vm.search()" query="vm.query" inums="vm.inums" users="vm.users"></searchbar-component>
        <paginator-component total="vm.searchResult.total" query="vm.query" navigate="vm.navigate()"></paginator-component>
        <div layout="row" layout-align="start center">
            <md-button class="md-primary md-raised" ng-click="vm.addAll()">{{'WORKSHEET.ADD_ALL' | translate}}</md-button>
        </div>
        <md-card ng-repeat="problem in vm.searchResult.data" layout="column">
            <md-card-content>
                <div class="md-headline">{{'PROBLEMS.PROBLEM_INDEX' | translate:{index:$index+(vm.query.pnum-1)*vm.query.inum+1} }}</div>
                <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                    <div flex="70" class="flexContainer">
                        <tex bind="problem.text"></tex>
                        <div ng-if="problem.isDetailed">
                            <label>{{'PROBLEMS.SHORT_TEXT_OF_PROBLEM' | translate}}</label>
                            <tex bind="problem.shortText"></tex>
                            <label>{{'PROBLEMS.HINT' | translate}}</label>
                            <tex bind="problem.hint"></tex>
                            <label>{{'PROBLEMS.ANSWER' | translate}}</label>
                            <tex bind="problem.answer"></tex>
                            <label class="md-headline">{{'PROBLEMS.SOLUTIONS' | translate}}:</label>
                            <div ng-repeat="sol in problem.solutions">
                                <label>{{'PROBLEMS.SOLUTION_INDEX' | translate:{index: $index+1} }}</label>
                                <tex bind="sol.text"></tex>
                            </div>
                        </div>
                    </div>
                    <div flex="30" class="flexContainer">
                        <div>
                            <span class="chiplabel">{{'CATEGORIES.CATEGORIES' | translate}}:</span>
                            <span ng-repeat="scat in problem.subCategories">
                            <strong>
                            <span class="nowrap">[
                            <a class="md-primary catlink">{{scat.category.level.shortName}}</a> :       
                            <a class="md-primary catlink">{{scat.category.shortName}}</a> :
                            <a class="md-primary catlink">{{scat.shortName}}</a> ]
                            </span>
                            </strong>
                            </span>
                        </div>
                        <div>
                            <div class="chiplabel">{{'PROBLEMS.SOLUTION_COUNT' | translate}}: {{problem.solutions.length || 0}}</div>
                        </div>
                        <div layout="row" layout-xs="column">
                            <span class="chiplabel">
                                    {{'PROBLEMS.DIFFICULTY'| translate}}:
                                </span>
                            <span class="chiplabel">
                                    <ng-rate-it ng-model="problem.difficulty" min="0" max="5" step="1" resetable="false" read-only="true"></ng-rate-it>
                                </span>
                        </div>
                        <div>
                            <div class="chiplabel">{{'PROBLEMS.LAST_UPLOADER' | translate}}: {{problem.uploaders.name}}</div>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout-align="end center" layout-gt-xs="row" layout-xs="column">
                <md-button class="md-primary" ng-click="problem.isDetailed =! problem.isDetailed">
                    <i class="fa fa-plus" ng-if="!vm.problem.isDetailed"></i>
                    <i class="fa fa-minus" ng-if="vm.problem.isDetailed"></i> {{'WORKSHEET.DETAILS' | translate}}</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.addProblem($index+(vm.query.pnum-1)*vm.query.inum)">{{'WORKSHEET.ADD' | translate}}</md-button>

            </md-card-actions>
        </md-card>

    </div>
</form>