<div class="md-display-1">{{'WORKSHEET.WORKSHEETS' | translate}}</div>
<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'WORKSHEET.TEMPLATES' |translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <md-list ng-if="vm.templates">
            <md-list-item ng-repeat="template in vm.templates" ng-click="vm.editTemplate($index,$event)">
                <span flex> {{template.name}}</span>
            </md-list-item>
        </md-list>
        <div ng-if="!vm.templates.length>0">{{'WORKSHEET.NO_TEMPLATES' | translate }}</div>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="end center">
        <md-button class="md-primary" ng-click="vm.addTemplate($event)">{{'WORKSHEET.NEW_TEMPLATE' | translate}}</md-button>
    </md-card-actions>
</md-card>

<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'WORKSHEET.WORKSHEETS' |translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <md-list ng-if="vm.worksheets">
            <md-list-item class="md-2-line" ng-repeat="worksheet in vm.worksheets" ui-sref="root.worksheet.edit({id:worksheet._id})">
                <div class="md-list-item-text">
                    <h3>{{worksheet.name}}</h3>
                    <p>{{worksheet.description}}</p>
                </div>
            </md-list-item>
        </md-list>
        <div ng-if="!vm.worksheets.length>0">{{'WORKSHEET.NO_WORKSHEETS' | translate }}</div>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="end center">
        <md-button class="md-primary" ui-sref="root.worksheet.create">{{'WORKSHEET.NEW_WORKSHEET' | translate}}</md-button>
    </md-card-actions>
</md-card>