.fa {
    min-width: 30px
}

.container {
    margin: 20px;
}

.flexContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.largeDialog {
    min-height: 50%;
    min-width: 50%;
}

.fullDialog {
    min-height: 100%;
    min-width: 100%;
}

[autoheight] {
    overflow: hidden;
    font-family: Consolas, monospace;
}

.latex {
    background-color: rgb(245, 245, 245);
    font-family: serif;
}

.customError {
    color: rgb(221, 44, 0)
}

.roleSelect {
    min-width: 100px
}

.topspace {
    margin-top: 1cm;
}

.tophalfspace {
    margin-top: 0.5cm;
}

.catlink {
    text-decoration: none;
    font-size: 14px
}

.catlist {
    list-style-type: none;
}

.shortName {
    font-weight: bold;
}

.preview {
    max-height: 300px;
    white-space: pre-wrap !important;
}

.bigstar.ngrateit .ngrateit-star {
    background-size: 32px;
}

.codeInput {
    font-family: Consolas, monospace;
}

.chiplabel {
    height: 32px;
    line-height: 32px;
}

.chip {
    min-width: 0;
    height: 32px;
    line-height: 32px;
    margin: 0px;
}

.taberror {
    background-color: rgb(139, 0, 0) !important;
}

.match,
.textdiff {
    overflow-y: scroll;
    color: rgb(0, 0, 150);
    max-height: 300px;
    white-space: pre-wrap !important;
}

.ins,
ins {
    color: black;
    background: #bbffbb;
}

.del,
del {
    color: black;
    background: #ffbbbb;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    height: auto;
    max-height: 250px !important;
}

.close-div {
    min-width: 50px;
}

.pad-half-page {
    padding-bottom: 20%;
}

.nowrap {
    white-space: nowrap;
}

.limitedTextArea {
    overflow-y: scroll;
    min-height: 212px !important;
    max-height: 212px !important;
    resize: none;
}


/* .pager {
    margin-top: 20px;
    margin-bottom: 20px;
} */


/* md-dialog {
    width: 90%;
    height: 90%;
} */


/* .new {
    background-color: green
}

.update {
    background-color: orange
}

.formheader {
    background: gray
}

.spacer {
    margin-bottom: 40px;
}



body md-content {
    background-color: #f7f7f7;
}

md-card-content pre {
    overflow: auto
}

.inputBox {
    height: 100px;
}





.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





.bottom-one-cm {
    margin-bottom: 1cm;
}

.top-one-cm {
    margin-top: 1cm;
}

.category {
    font-size: 18px;
}

[hidden] {
    display: none !important;
}

.row-fluid {
    white-space: nowrap;
    overflow: auto;
}

.row-fluid .multi-preview {
    display: inline-block;
}

.dropdown-item {
    max-width: 25em !important;
} */


/* star size for ng-rateit*/


/* .ngrateit-star {
    background-size: 32px;
} */


/* 
*/


/* .warn {
    background: lightgray;
}

input[type="text"] {
    padding: 0px 0px 5px;
    line-height: 20px;
}

input[type="text"]::placeholder {
    padding: 0px 0px 3px;
    line-height: 20px;
}



input.ng-invalid {
    background-image: linear-gradient(0deg, #d50000 2px, rgba(213, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.invalid-feedback {
    display: block;
}

.auth-form {
    margin: auto;
    max-width: 500px;
    padding: 10px;
    padding-top: 10%;
}

.error-tab {
    border-color: red !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
} */