<md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    <form name="categoryForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!vm.category"> {{'CATEGORIES.CREATE_CAT' | translate}}</h2>
                <h2 ng-if="vm.category"> {{'CATEGORIES.EDIT_CAT' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                    <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                    <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="container">
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.LEVEL' | translate}}</label>
                    <md-select ng-model="vm.newCategory.level" required>
                        <md-option ng-repeat="level in vm.levels" ng-value="level._id" ng-click="vm.setLevel($index)">{{level.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.NAME' | translate}}</label>
                    <input type="text" name="name" ng-model="vm.newCategory.name" md-maxlength="50" required ui-validate="{ exists : '!vm.nameExists($value)'}" autocomplete="off">
                    <div ng-messages="categoryForm['name'].$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.NAME_EXISTS' | translate}}</div>
                        <div ng-message="md-maxlength">{{'CATEGORIES.ERRORS.NAME_LONG' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.SHORT_NAME' | translate}}</label>
                    <input type="text" name="shortName" ng-model="vm.newCategory.shortName" md-maxlength="10" required ui-validate="{ exists : '!vm.shortNameExists($value)'}" autocomplete="off">
                    <div ng-messages="categoryForm['shortName'].$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.SHORT_NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.SHORT_NAME_EXISTS' | translate}}</div>
                        <div ng-message="md-maxlength">{{'CATEGORIES.ERRORS.SHORT_NAME_LONG' | translate}}</div>
                    </div>
                </md-input-container>
                <div layout-gt-md="row">
                    <md-input-container class="md-block" flex>
                        <label>{{'CATEGORIES.DESCRIPTION' | translate}}</label>
                        <textarea autoheight spellcheck="false" type="text" ng-model="vm.newCategory.description"></textarea>

                    </md-input-container>
                    <div flex>
                        <tex bind="vm.newCategory.description" ng-if="vm.newCategory.description.length>0">
                        </tex>
                        <label ng-if="!vm.newCategory.description">{{'CATEGORIES.NO_DESCRIPTION' | translate }}</label>
                    </div>
                </div>
                <div>
                    <label class="md-button md-primary">
                                {{ "COMMON.BROWSE" | translate}}
                                <input type="file" file-change handler="vm.fileSelect(files)" style="display: none;">
                            </label>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
            <md-button class="md-primary" type="submit" class="btn btn-primary" ng-click="vm.save()" ng-disabled="newLevelForm.$invalid">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>