<md-dialog>
    <form name="levelForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!vm.level">{{'CATEGORIES.CREATE_LEVEL' | translate}}</h2>
                <h2 ng-if="vm.level">{{'CATEGORIES.EDIT_LEVEL' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="container">
                <md-input-container class="md-block">
                    <label> {{'CATEGORIES.NAME'| translate}} </label>
                    <input name="name" type="text" ng-model="vm.newLevel.name" size="50" md-maxlength="50" required ui-validate="{exists:'!vm.nameExists($value)'}" autocomplete="off">
                    <div ng-messages="levelForm.name.$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.NAME_EXISTS' | translate}}</div>
                        <div ng-message="md-maxlength">{{'CATEGORIES.ERRORS.NAME_LONG' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label> {{'CATEGORIES.SHORT_NAME'| translate}} </label>
                    <input name="shortName" type="text" ng-model="vm.newLevel.shortName" size="10" md-maxlength="10" required ui-validate="{exists:'!vm.shortNameExists($value)'}" autocomplete="off">
                    <div ng-messages="levelForm.shortName.$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.SHORT_NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.SHORT_NAME_EXISTS' | translate}}</div>
                        <div ng-message="md-maxlength">{{'CATEGORIES.ERRORS.SHORT_NAME_LONG' | translate}}</div>
                    </div>
                </md-input-container>

                <div ng-messages="vm.messages" role="alert" class="customError">
                    <div ng-message="internal">{{'COMMON.ERRORS.INTERNAL' | translate}}</div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
            <md-button class="md-primary" type="submit" class="btn btn-primary" ng-click="vm.save()" ng-disabled="levelForm.$invalid">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>