<md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    <form name="subCategoryForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!vm.subCategory"> {{'CATEGORIES.CREATE_SCAT' | translate}}</h2>
                <h2 ng-if="vm.subCategory"> {{'CATEGORIES.EDIT_SCAT' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                    <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                    <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="container">
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.LEVEL' | translate}}</label>
                    <md-select ng-model="vm.level" required>
                        <md-option ng-repeat="level in vm.levels" ng-value="level">{{level.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.CATEGORY' | translate}}</label>
                    <md-select ng-model="vm.newSubCategory.category" required>
                        <md-option ng-repeat="cat in vm.level.categories" ng-value="cat._id" ng-click="vm.setCat(cat)">{{cat.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.NAME' | translate}}</label>
                    <input type="text" name="name" ng-model="vm.newSubCategory.name" required ui-validate="{ exists : '!vm.nameExists($value)'}" autocomplete="off">
                    <div ng-messages="subCategoryForm[ 'name'].$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.NAME_EXISTS' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'CATEGORIES.SHORT_NAME' | translate}}</label>
                    <input type="text" name="shortName" ng-model="vm.newSubCategory.shortName" required ui-validate="{ exists : '!vm.shortNameExists($value)'}" autocomplete="off">
                    <div ng-messages="subCategoryForm[ 'shortName'].$error">
                        <div ng-message="required">{{'CATEGORIES.ERRORS.SHORT_NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'CATEGORIES.ERRORS.SHORT_NAME_EXISTS' | translate}}</div>
                    </div>
                </md-input-container>
                <div layout-gt-md="row">
                    <md-input-container class="md-block" flex>
                        <label>{{'CATEGORIES.DESCRIPTION' | translate}}</label>
                        <textarea autoheight spellcheck="false" type="text" ng-model="vm.newSubCategory.description"></textarea>
                    </md-input-container>
                    <div flex>
                        <tex bind="vm.newSubCategory.description" ng-if="vm.newSubCategory.description.length>0">
                        </tex>
                        <label ng-if="!vm.newSubCategory.description">{{'CATEGORIES.NO_DESCRIPTION' | translate }}</label>
                    </div>
                </div>
                <div>
                    <label class="md-button md-primary">
                                {{"COMMON.BROWSE" | translate}}
                                <input type="file" file-change handler="vm.fileSelect(files)" style="display: none;">
                            </label>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
            <md-button class="md-primary" type="submit" class="btn btn-primary" ng-click="vm.save()" ng-disabled="subCategoryForm.$invalid">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>