<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'REVISIONS.COMPARISION' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <md-input-container class="md-block">
            <label>{{'REVISIONS.DIFFMODE' | translate }}</label>
            <md-select ng-model="vm.diffmode">
                <md-option ng-value="mode" ng-repeat="mode in vm.diffmodes">
                    {{mode}}
                </md-option>
            </md-select>

        </md-input-container>
        <div class="topspace container">
            <pre class="textdiff" ng-if="vm.diffmode=='diff'" diff left-obj="vm.left" right-obj="vm.right"></pre>
            <pre class="textdiff" ng-if="vm.diffmode=='semantic-diff'" semantic-diff left-obj="vm.left" right-obj="vm.right"></pre>
            <pre class="textdiff" ng-if="vm.diffmode=='line-diff'" line-diff left-obj="vm.left" right-obj="vm.right"></pre>
        </div>
    </md-card-content>
</md-card>