<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'UPLOAD.PROBLEM_CATEGORIES' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div ng-if="!vm.problemCats.length>0">
            {{"UPLOAD.NO_SELECTED_CAT" | translate}}
        </div>
        <div ng-if="vm.problemCats.length>0">
            <md-list class="md-dense">
                <md-divider></md-divider>
                <md-list-item ng-repeat="sc in vm.problemCats" class="md-3-line secondary-button-padding">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{sc.lev}}</h3>
                        <h4>{{sc.cat}}</h4>
                        <p>{{sc.scat}}</p>
                    </div>
                    <md-button class="md-secondary md-warn" ng-click="vm.deleteScat($index)">{{'COMMON.DELETE' | translate}}</md-button>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
        <md-button class="md-primary" ng-click="vm.toggled2=!vm.toggled2">
            {{'UPLOAD.SELECT' | translate}}
            <i ng-if="!vm.toggled2" class="fa fa-plus"></i>
            <i ng-if="vm.toggled2" class="fa fa-minus"></i>
        </md-button>
        <div ng-if="vm.toggled2">
            <md-input-container class="md-block">
                <label>{{'CATEGORIES.LEVEL' | translate}}</label>
                <md-select ng-model="vm.selectedLevel" class="md-secondary" ng-change="vm.selectedCategory=undefined; vm.selectedSubCategory=undefined">
                    <md-option ng-value="null" ng-if="vm.selectedLevel">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-repeat="level in vm.levels" ng-value="level">{{level.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{'CATEGORIES.CATEGORY' | translate}}</label>
                <md-select ng-model="vm.selectedCategory" class="md-secondary" ng-disabled="!vm.selectedLevel" ng-change="vm.selectedSubCategory=undefined">
                    <md-option ng-value="null" ng-if="vm.selectedCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-repeat="category in vm.selectedLevel.categories" ng-value="category">{{category.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{'CATEGORIES.SUBCAT' | translate}}</label>
                <md-select ng-model="vm.selectedSubCategory" class="md-secondary" ng-disabled="!vm.selectedCategory">
                    <md-option ng-value="null" ng-if="vm.selectedSubCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-repeat="subCategory in vm.selectedCategory.subCategories" ng-value="subCategory">{{subCategory.name}}</md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary" ng-disabled="!vm.addEnabled()" ng-click="vm.toggled2=false;vm.addScat(); ">{{'UPLOAD.ADD' | translate}}</md-button>
            </div>
        </div>

    </md-card-content>
</md-card>