<div class="md-display-1">{{'CATEGORIES.CATEGORY' | translate}}</div>

<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <div class="md-headline">{{vm.category.name}} <b>[{{vm.category.shortName}}]</b></div>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <span class="md-subhead">{{'CATEGORIES.LEVEL' | translate}}:</span>
        <md-list>
            <md-divider></md-divider>
            <md-list-item>
                <a ui-sref="root.categories.list" class="md-primary catlink">
                    {{vm.category.level.name}}
                </a>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <span class="md-subhead" ng-if="vm.category.subCategories.length>0">{{'CATEGORIES.SUBCATS' | translate}}:</span>
        <md-list ng-if="vm.category.subCategories.length>0">
            <md-divider></md-divider>
            <md-list-item ng-repeat="scat in vm.category.subCategories">
                <a ui-sref="root.categories.subCategory({id:scat._id})" class="md-primary catlink">
                {{scat.name}} <b>[{{scat.shortName}}]</b>
                </a>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <span class="md-subhead" ng-if="vm.category.description">{{'CATEGORIES.DESCRIPTION' | translate}}:</span>
        <tex ng-if="vm.category.description">{{vm.category.description}}</tex>
    </md-card-content>
    <md-card-actions layout="row" layout-xs="column" layout-align="end center" permission permission-only=" 'editor'">
        <md-button class="md-primary" ng-click="vm.addScat($event)">{{'CATEGORIES.CREATE_SCAT' | translate}}</md-button>
        <md-button class="md-warn" ng-click="vm.edit($event)">{{'COMMON.EDIT' | translate}}</md-button>
        <md-button class="md-accent" ng-click="vm.del($event)" ng-disabled="vm.category.subCategories.length>0">
            <md-tooltip md-direction="top" ng-if="vm.category.subCategories.length>0">{{'CATEGORIES.CANNOT_DELETE_CAT' | translate}}</md-tooltip>
            {{'COMMON.DELETE' | translate}}
        </md-button>
    </md-card-actions>
</md-card>