<span class="md-display-1">{{'CATEGORIES.LEVELS' | translate}}</span>
<md-card ng-repeat="level in vm.levels" class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{level.name}} <b>[{{level.shortName}}]</b></span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div ng-if="level.categories.length>0">
            <span class="md-subhead">{{'CATEGORIES.CATEGORIES' | translate }}:</span>
            <md-list>
                <md-divider></md-divider>
                <md-list-item ng-repeat="cat in level.categories">
                    <a ui-sref="root.categories.detail({id:cat._id})" class="md-primary catlink">{{cat.name}} 
                        <b>[{{cat.shortName}}]</b>
                        </a>
                    <span flex></span><span class="md-caption" hide-xs>{{cat.subCategories.length}} {{'CATEGORIES.SUBCAT' | translate | lowercase}}.</span>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-xs="column" layout-align="end center" permission permission-only="'editor'">
        <md-button class="md-primary" ng-click="vm.addCat($event,$index)">{{'CATEGORIES.CREATE_CAT' | translate}}</md-button>
        <md-button class="md-warn" ng-click="vm.editLevel($event,$index)">{{'COMMON.EDIT' | translate}}</md-button>
        <md-button class="md-accent" ng-click="vm.deleteLevel($event,$index)" ng-disabled="level.categories.length>0">
            <md-tooltip md-direction="top" ng-if="level.categories.length>0">{{'CATEGORIES.CANNOT_DELETE_LEVEL' | translate}}</md-tooltip>
            {{'COMMON.DELETE' | translate}}
        </md-button>

    </md-card-actions>
</md-card>
<div permission permission-only="'editor'">
    <md-button class="md-primary md-raised" ng-click="vm.addLevel($event)">{{'CATEGORIES.CREATE_LEVEL' | translate}}</md-button>
</div>