<span class="md-display-1">{{'CATEGORIES.SUBCAT' | translate}}</span>

<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{vm.subCategory.name}} <b>[{{vm.subCategory.shortName}}]</b></span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <span class="md-subhead">{{'CATEGORIES.LEVEL' | translate}}:</span>
        <md-list>
            <md-divider></md-divider>
            <md-list-item>
                <a ui-sref="root.categories.list" class="md-primary catlink">
                            {{vm.subCategory.category.level.name}}
                        </a>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <span class="md-subhead">{{'CATEGORIES.CATEGORY' | translate}}:</span>
        <md-list>
            <md-divider></md-divider>
            <md-list-item>
                <a ui-sref="root.categories.detail({id:vm.subCategory.category._id})" class="md-primary catlink">
                            {{vm.subCategory.category.name}}
                        </a>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <span class="md-subhead" ng-if="vm.subCategory.description">{{'CATEGORIES.CATEGORY' | translate}}:</span>
        <tex ng-if="vm.subCategory.description">{{vm.subCategory.description}}</tex>
    </md-card-content>
    <md-card-actions layout="row" layout-xs="column" layout-align="end center" permission permission-only=" 'editor'">
        <md-button class="md-warn" ng-click="vm.edit($event)">{{'COMMON.EDIT' | translate}}</md-button>
        <md-button class="md-accent" ng-click="vm.del($event)">{{'COMMON.DELETE' | translate}}</md-button>
    </md-card-actions>
</md-card>