<div class="md-display-1">{{'REVISIONS.REVISIONS' | translate}}</div>
<searchbar-component levels="vm.levels" search="vm.search()" query="vm.filterQuery" inums="vm.inums" rev="true" users="vm.users"></searchbar-component>
<paginator-component total="vm.filteredProblems.length" query="vm.paginateQuery" navigate="vm.navigate()"></paginator-component>
<md-card ng-repeat="problemToReview in vm.problems" class="topspace">
    <md-toolbar class="md-hue-1" ng-class="{'md-warn': problemToReview.original}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'PROBLEMS.PROBLEM_INDEX' |translate:{index: (vm.paginateQuery.pnum-1)*vm.paginateQuery.inum+$index +1} }}</span>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content>
        <div layout-gt-sm="row" layout-xs="column" layout-sm="column">
            <div flex-gt-sm="70" class="flexContainer" layout="column">
                <tex flex>{{problemToReview.problem.text}}</tex>
                <div flex ng-if="problemToReview.comment">
                    <label class="md-subhead">{{'UPLOAD.COMMENT_FOR_REVISION' | translate}}:</label>
                    <div>{{problemToReview.comment}}</div>
                </div>

            </div>
            <div flex-gt-sm="30" class="flexContainer" layout="column">
                <div>
                    <span class="chiplabel">{{'CATEGORIES.CATEGORIES' | translate}}:</span>
                    <span ng-repeat="scat in problemToReview.problem.scats">
                        <strong>
                        <span class="nowrap">[
                        <a class="md-primary catlink" ui-sref="root.categories.list">{{scat.category.level.shortName}}</a> :       
                        <a class="md-primary catlink" ui-sref="root.categories.detail({id: scat.category._id})">{{scat.category.shortName}}</a> :
                        <a class="md-primary catlink" ui-sref="root.categories.subCategory({id: scat._id})">{{scat.shortName}}</a> ]
                        </span>
                    </strong>
                    </span>
                </div>
                <div>
                    <div class="chiplabel">{{'PROBLEMS.SOLUTION_COUNT' | translate}}: {{problemToReview.problem.solutions.length || 0}}</div>
                </div>
                <div layout="row" layout-xs="column">
                    <span class="chiplabel">
                                {{'PROBLEMS.DIFFICULTY'| translate}}:
                            </span>
                    <span class="chiplabel">
                                <ng-rate-it ng-model="problemToReview.problem.difficulty" min="0" max="5" step="1" resetable="false" read-only="true"></ng-rate-it>
                            </span>
                </div>
                <div>
                    <div class="chiplabel">{{'PROBLEMS.LAST_UPLOADER' | translate}}: {{problemToReview.problem.lastuploader.name}}</div>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column">
        <md-button class="md-primary md-raised" ng-if="!problemToReview.original" ui-sref="root.revisions.new({id:problemToReview._id})">{{'COMMON.DETAILS' | translate}}</md-button>
        <md-button class="md-primary md-raised" ng-if="problemToReview.original" ui-sref="root.revisions.old({id:problemToReview._id})">{{'COMMON.DETAILS' | translate}}</md-button>
        <span flex></span>
        <md-button class="md-primary" ng-click="vm.accept(problemToReview,$event)">{{'REVISIONS.ACCEPT' | translate}}</md-button>
        <md-button class="md-accent" ng-click="vm.reject(problemToReview,$event)">{{'REVISIONS.REJECT' | translate}}</md-button>
    </md-card-actions>
</md-card>