<div class="md-display-1">{{'REVISIONS.REVISIONS' | translate}}</div>
<form name="form" novalidate>
    <category-selector-component problem="vm.problemToReview.problem" levels="vm.levels" scats="vm.subCategories"> </category-selector-component>
    <problem-detail-viewer-component problem="vm.problemToReview.problem"></problem-detail-viewer-component>
    <problem-solutions-component problem="vm.problemToReview.problem"></problem-solutions-component>
    <problem-history-component problem="vm.problemToReview.problem" users="vm.users"></problem-history-component>
    <problem-comment-component comment="vm.problemToReview.comment" editable="false"></problem-comment-component>

    <div class="topspace">
        <md-button type="button" class="md-primary md-raised" ng-click="vm.accept()" ng-disabled="!form.$valid">{{'REVISIONS.ACCEPT' | translate}}</md-button>
        <md-button type="button" class="md-accent md-raised" ng-click="vm.reject()">{{'REVISIONS.REJECT' | translate}}</md-button>
    </div>
</form>