<div class="container">
    <form name="loginForm" novalidate>

        <div flex-offset-gt-xs="25" flex-gt-xs="50">
            <div layout="column">
                <h1>{{'AUTH.LOGIN' | translate}}</h1>
                <md-input-container>
                    <label>{{'AUTH.EMAIL' | translate}} </label>
                    <input required name="email" type="email" ng-model="vm.data.email">
                    <div ng-messages="loginForm['email'].$error">
                        <div ng-message="required" translate="AUTH.EMAIL_REQUIRED"></div>
                        <div ng-message="email" translate="AUTH.NOT_EMAIL"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>{{'AUTH.PASS' | translate}} </label>
                    <input required name="pass" type="password" ng-model="vm.data.password">
                    <div ng-messages="loginForm['pass'].$error">
                        <div ng-message="required" translate="AUTH.PASS_REQUIRED"></div>
                    </div>
                </md-input-container>
                <div ng-messages="vm.messages" class="customError">
                    <div ng-message="incorrect" translate="AUTH.INCORRECT"></div>
                    <div ng-message="internal" translate="AUTH.INTERNAL"></div>
                </div>
                <md-button type="submit" class="md-primary" ng-click="vm.login()" ng-disabled="loginForm.$invalid">{{'AUTH.LOGIN' | translate}}</md-button>
            </div>
        </div>

    </form>
</div>