<div class="container">
    <form name="registerForm" novalidate>
        <div flex-offset-gt-xs="25" flex-gt-xs="50">
            <div layout="column">
                <h1>{{'AUTH.REGISTER' | translate}}</h1>
                <md-input-container>
                    <label>{{'AUTH.EMAIL' | translate}} </label>
                    <input id="username" name="email" class="form-control" type="email" ng-model="vm.data.email" required ui-validate-async="{exists:'vm.emailExists($value)'}">
                    <div ng-messages="registerForm['email'].$error">
                        <div ng-message="required" translate="AUTH.EMAIL_REQUIRED"></div>
                        <div ng-message="email" translate="AUTH.NOT_EMAIL"></div>
                        <div ng-message="exists" translate="AUTH.EMAIL_EXISTS"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>{{'AUTH.NAME' | translate}} </label>
                    <input required name="name" type="text" ng-model="vm.data.name">
                    <div ng-messages="registerForm['name'].$error">
                        <div ng-message="required" translate="AUTH.NAME_REQUIRED"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>{{'AUTH.PASS' | translate}} </label>
                    <input name="pass" type="password" ng-model="vm.data.password" required>
                    <div ng-messages="registerForm['pass'].$error">
                        <div ng-message="required" translate="AUTH.PASS_REQUIRED"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>{{'AUTH.PASS_AGAIN' | translate}} </label>
                    <input name="passAgain" class="form-control" type="password" required ui-validate="{different: '$value==vm.data.password'}" ng-model="vm.passAgain">
                    <div ng-messages="registerForm['passAgain'].$error">
                        <div ng-message="required" translate="AUTH.PASS_REQUIRED"></div>
                        <div ng-message="different" translate="AUTH.PASS_DIFFERENT"></div>
                    </div>
                </md-input-container>


                <div ng-messages="vm.messages" class="customError">
                    <div ng-message="incorrect" translate="AUTH.INCORRECT"></div>
                    <div ng-message="internal" translate="AUTH.INTERNAL"></div>
                </div>
                <md-button type="submit" class="md-primary" ng-click="vm.register()" ng-disabled="registerForm.$invalid">{{'AUTH.REGISTER' | translate}}</md-button>
            </div>
        </div>


    </form>
</div>