<md-sidenav class="md-whiteframe-2dp nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-click="toggleLeft()">
        <center>
            <img src="xercisedb/img/logo.svg" alt="XerciseBD" layout-fill style="max-width:350px">
        </center>
        <a class="md-button md-primary navmenu" ui-sref="root.home" ng-class="{'md-raised md-hue-1': vm.isActive('root.home')}"><i class="fa fa-home"></i>{{'NAVBAR.HOME' | translate}}</a>
        <a class="md-button md-primary navmenu" ui-sref="root.problems.list" ng-class="{'md-raised md-hue-1': vm.isActive('root.problems')}"><i class="fa fa-list"></i> {{'NAVBAR.PROBLEMS' | translate}}</a>
        <a class="md-button md-primary navmenu" ui-sref="root.categories.list" ng-class="{'md-raised md-hue-1': vm.isActive('root.categories')}"><i class="fa fa-tags"></i>{{'NAVBAR.CATEGORIES' | translate}}</a>
        <a permission permission-only="'user'" class="md-button md-primary navmenu" ui-sref="root.upload.single" ng-class="{'md-raised md-hue-1': vm.isActive('root.upload')}"><i class="fa fa-upload"></i>{{'NAVBAR.UPLOAD' | translate}}</a>
        <a permission permission-only="'editor'" class="md-button md-primary navmenu" ui-sref="root.revisions.list" ng-class="{'md-raised md-hue-1': vm.isActive('root.revisions')}"><i class="fa fa-gavel"></i>{{'NAVBAR.REVISIONS' | translate}}</a>
        <a permission permission-only="'editor'" class="md-button md-primary navmenu" ui-sref="root.worksheet.list" ng-class="{'md-raised md-hue-1': vm.isActive('root.worksheet')}"><i class="fa fa-file"></i>{{'NAVBAR.WORKSHEETS' | translate}}</a>
        <a permission permission-only="'admin'" class="md-button md-primary navmenu" ui-sref="root.users"><i class="fa fa-users"></i>{{'NAVBAR.USERS' | translate}}</a>
    </div>
    <md-divider></md-divider>
    <md-menu>
        <md-button ng-click="$mdOpenMenu()" class="md-button md-primary navmenu">
            <i class="fa fa-language"></i>{{'NAVBAR.LANGUAGE' | translate}}
        </md-button>
        <md-menu-content>
            <md-menu-item ng-repeat="lang in vm.languages">
                <md-button ng-click="vm.setLang(lang); toggleLeft()">
                    {{lang.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <div ng-click="toggleLeft()">
        <a ng-if=!vm.tokenData.token class="md-button md-primary navmenu" ui-sref="root.register"><i class="fa fa-user-plus"></i> {{'NAVBAR.REGISTER' | translate}}</a>
        <a ng-if=!vm.tokenData.token class="md-button md-primary navmenu" ui-sref="root.login"><i class="fa fa-sign-in"></i> {{'NAVBAR.LOGIN' | translate}}</a>
        <md-button ng-if=vm.tokenData.token class="md-button md-primary navmenu" ng-click="vm.viewProfile()"><i class="fa fa-user"></i> {{vm.tokenData.token.name}} <span hide-xs>({{vm.tokenData.token.role}})</span></md-button>
        <md-button ng-if=vm.tokenData.token class="md-primary navmenu" ng-click="vm.logout()"><i class="fa fa-sign-out"></i>{{'NAVBAR.LOGOUT' | translate}}</md-button>
    </div>
</md-sidenav>