<md-dialog class="largeDialog">
    <md-toolbar ng-class="{ 'md-accent' : vm.isDelete,  'md-primary' : !vm.isDelete}">
        <div class="md-toolbar-tools">
            <h2>{{vm.title | translate}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" flex>
        <div layout="column" flex class="container">
            <div flex>
                <div class="md-subhead">
                    {{vm.subtitle | translate:vm.variables}}
                </div>
                <div class="topspace" ng-if="vm.content">
                    <tex>{{vm.content}}</tex>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-secondary" ng-click="vm.cancel()">{{vm.cancelText | translate}}</md-button>
        <md-button ng-class="{ 'md-accent' : vm.isDelete,  'md-primary' : !vm.isDelete }" class="md-raised" ng-click="vm.ok()">{{vm.okText | translate}}</md-button>
    </md-dialog-actions>
</md-dialog>