<md-card class="topspace">
    <md-toolbar class="md-hue-1">
        <md-card-title>
            <md-card-title-text>
                <center>
                    <img src="xercisedb/img/logo.svg" layout-fill alt="XerciseDB" style="max-width:350px">
                </center>
            </md-card-title-text>
        </md-card-title>
    </md-toolbar>
    <md-card-content class="topspace">
        <center>
            <div class="md-headline">{{'HOME.PROBCOUNT' | translate:{probCount:vm.probCount} }}</div>
            <div class="md-subhead">{{'HOME.SUBTITLE' | translate:{ levCount: vm.levCount, catCount: vm.catCount, scatCount: vm.scatCount} }}</div>
        </center>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-xs="column" layout-align="center center" class="topspace">
        <md-button class="md-primary md-raised" ui-sref="root.problems.list">{{'HOME.SHOW_PROBLEMS' | translate}}</md-button>
    </md-card-actions>
    <div class="topspace"></div>
</md-card>