.tex {
    padding: 20px;
    background-color: rgb(245, 245, 245) !important;
    font-family: serif;
    text-align: justify;
}

.katex-error {
    color: red;
    box-sizing: border-box;
    border-color: red;
    width: 100%;
}

.tex-container {
    background-color: rgb(245, 245, 245) !important;
    font-family: serif;
    text-align: justify;
}

.bullet {
    font-size: 80%;
}

.emph {
    font-style: italic;
}

.medskip {
    margin-top: 0.2cm;
}

.bigskip {
    margin-top: 0.5cm;
}


/* tex-env {
    background: rgb(230, 187, 97)
}

tex-plain {
    background: lightblue;
    border-width: 5px;
} */


/* tex-math {
    background: green;
}



tex-command {
    background: rgb(184, 62, 184);
}

tex-text {
    background: rgb(252, 191, 167);
} */