<md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2> {{'WORKSHEET.CATEGORY_DESCRIPTIONS' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="container">
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.LEVEL'|translate}}</label>
                <md-select ng-model="vm.selectedLevel" ng-change="vm.levChanged()">
                    <md-option ng-value="null" ng-if="vm.selectedLevel">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="level" ng-repeat="level in vm.levels">{{ level.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.CATEGORY'|translate}}</label>
                <md-select ng-model=" vm.selectedCategory" ng-change="vm.catChanged()" ng-disabled="!vm.selectedLevel">
                    <md-option ng-value="null" ng-if="vm.selectedCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="category" ng-repeat="category in vm.selectedLevel.categories">{{ category.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.SUBCAT'|translate}}</label>
                <md-select ng-model="vm.selectedSubCategory" ng-change="vm.scatChanged()" ng-disabled="!vm.selectedCategory">
                    <md-option ng-value="null" ng-if="vm.selectedSubCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="subCategory" ng-repeat="subCategory in vm.selectedCategory.subCategories">{{ subCategory.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="container topspace">
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="vm.description">
                <label>{{'CATEGORIES.DESCRIPTION' | translate}}</label>
                <tex bind="vm.description"></tex>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="topspace">
        <md-button ng-if="vm.template" ng-click="vm.del()" class="md-accent md-raised">{{'WORKSHEET.DELETE_TEMPLATE' | translate}}</md-button>
        <span flex></span>
        <md-button ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
        <md-button class="md-primary" type="submit" class="btn btn-primary" ng-click="vm.add()" ng-disabled="!vm.description">{{'WORKSHEET.ADD' | translate}}</md-button>
    </md-dialog-actions>
</md-dialog>

<!-- <md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    {{vm.levels}}
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2> {{'WORKSHEET.CATEGORY_DESCRIPTIONS' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="conatiner">
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.LEVEL'|translate}}</label>
                <md-select ng-model="vm.selectedLevel" ng-change="vm.levChanged()">
                    <md-option ng-value="null" ng-if="vm.selectedLevel">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="level" ng-repeat="level in vm.levels">{{ level.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.CATEGORY'|translate}}</label>
                <md-select ng-model=" vm.selectedCategory" ng-change="vm.catChanged()" ng-disabled="!vm.selectedLevel">
                    <md-option ng-value="null" ng-if="vm.selectedCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="category" ng-repeat="category in vm.selectedLevel.categories">{{ category.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{'CATEGORIES.SUBCAT'|translate}}</label>
                <md-select ng-model="vm.selectedSubCategory" ng-change="vm.scatChanged()" ng-disabled="!vm.selectedCategory">
                    <md-option ng-value="null" ng-if="vm.selectedSubCategory">{{'PROBLEMS.CLEAR' | translate}}</md-option>
                    <md-option ng-value="subCategory" ng-repeat="subCategory in vm.selectedCategory.subCategories">{{ subCategory.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{'WORKSHEET.TEMPLATE_NAME' | translate}}</label>
                <input type="text" name="name" ng-model="vm.newTemplate.name" md-maxlength="50" required autocomplete="off">
                <div ng-messages="templateForm['name'].$error">
                    <div ng-message="required">{{'WORKSHEET.ERRORS.NAME_REQUIRED' | translate}}</div>
                    <div ng-message="exists">{{'WORKSHEET.ERRORS.NAME_EXISTS' | translate}}</div>
                    <div ng-message="md-maxlength">{{'WORKSHEET.ERRORS.NAME_LONG' | translate}}</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{'WORKSHEET.TEMPLATE_CONTENT' | translate}}</label>
                <textarea autoheight spellcheck="false" name="content" ng-model="vm.newTemplate.content" required></textarea>
            </md-input-container>
            <div class="md-block">
                <label class="md-button md-primary">
                                {{ "COMMON.BROWSE" | translate}}
                                <input type="file" file-change handler="vm.fileSelect(files)" style="display: none;">
                            </label>
            </div>
        </div>
    </md-dialog-content>
</md-dialog> -->