<md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2> {{'WORKSHEET.TEX_PREVIEW' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" flex>
        <div layout="column" flex>
            <pre flex>
                    {{vm.tex}}
            </pre>
        </div>
    </md-dialog-content>
</md-dialog>