<md-dialog ng-class="{largeDialog: !vm.fullScreen, fullDialog: vm.fullScreen}">
    <form name="templateForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="vm.isCreate"> {{'WORKSHEET.NEW_TEMPLATE' | translate}}</h2>
                <h2 ng-if="!vm.isCreate"> {{'WORKSHEET.EDIT_TEMPLATE' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.fullScreen=!vm.fullScreen" hide-xs hide-sm>
                    <i class="fa fa-window-maximize" ng-if="!vm.fullScreen"></i>
                    <i class="fa fa-window-minimize" ng-if="vm.fullScreen"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="container topspace">
                <md-input-container class="md-block" ng-if="vm.template._id">
                    <md-radio-group ng-model="vm.isCreate" layout-gt-xs="row" layout-xs="column">
                        <md-radio-button flex ng-value="true" class="md-primary">
                            {{'WORKSHEET.NEW_TEMPLATE' | translate}}
                        </md-radio-button>
                        <md-radio-button flex ng-value="false" class="md-primary">
                            {{'WORKSHEET.EDIT_TEMPLATE' | translate}}
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'WORKSHEET.TEMPLATE_NAME' | translate}}</label>
                    <input type="text" name="name" ng-model="vm.newTemplate.name" md-maxlength="50" required autocomplete="off" ui-validate="{exists:'!vm.nameExists($value)'}" ui-validate-watch="'vm.isCreate'">
                    <div ng-messages="templateForm['name'].$error">
                        <div ng-message="required">{{'WORKSHEET.ERRORS.NAME_REQUIRED' | translate}}</div>
                        <div ng-message="exists">{{'WORKSHEET.ERRORS.NAME_EXISTS' | translate}}</div>
                        <div ng-message="md-maxlength">{{'WORKSHEET.ERRORS.NAME_LONG' | translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>{{'WORKSHEET.TEMPLATE_CONTENT' | translate}}</label>
                    <textarea autoheight spellcheck="false" name="content" ng-model="vm.newTemplate.content" required></textarea>
                    <div ng-messages="templateForm['content'].$error">
                        <div ng-message="required">{{'WORKSHEET.ERRORS.CONTENT_REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
                <div class="md-block">
                    <label class="md-button md-primary">
                                {{ "COMMON.BROWSE" | translate}}
                                <input type="file" file-change handler="vm.fileSelect(files)" style="display: none;">
                            </label>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="topspace">
            <md-button ng-if="vm.template._id" ng-click="vm.del()" class="md-accent md-raised">{{'WORKSHEET.DELETE_TEMPLATE' | translate}}</md-button>
            <span flex></span>
            <md-button ng-click="vm.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
            <md-button class="md-primary" type="submit" class="btn btn-primary" ng-click="vm.save()" ng-disabled="templateForm.$invalid">{{'COMMON.SAVE' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>